.button {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 5px;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    
    &.is-round {
        border-radius: 20px;
        padding: 12px 23px;
    }
    &.is-plain{
      &:focus,&:hover{
        background: #fff;
        border-color: $primary;
        color: $primary;
      }
    }
    &.is-disabled{
      opacity:.6;
      cursor: not-allowed;
    }
    &:hover,&:focus{
      color: $primary;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
}

.button-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    &:focus,&:hover{
      background: #66b1ff;
      border-color: #66b1ff;
      color: #fff;
    }
}

.button-primary.is-plain {
    color: $primary;
    background: #ecf5ff;
    border-color: #b3d8ff;
    &:hover,&:focus{
      background: $primary;
      border-color: $primary;
      color: #fff;
    }
}
